resources/fo/act.dtd

<!ENTITY ndash "&#x2013;">
<!ELEMENT SCENE    (TITLE, SUBTITLE*, (SPEECH | STAGEDIR | SUBHEAD)+)>
<!ELEMENT TITLE    (#PCDATA)>
<!ELEMENT SUBTITLE (#PCDATA)>
<!ELEMENT SPEECH   (SPEAKER+, (LINE | STAGEDIR | SUBHEAD)+)>
<!ELEMENT SPEAKER  (#PCDATA | STAGEDIR)*>
<!ELEMENT LINE     (#PCDATA | STAGEDIR | I | ANCHOR)*>
<!ELEMENT STAGEDIR (#PCDATA | ANCHOR)*>
<!ELEMENT I (#PCDATA)>
<!ELEMENT SUBHEAD  (#PCDATA)>
<!ELEMENT ANCHOR (#PCDATA)>
<!ATTLIST ANCHOR
HREF CDATA #REQUIRED>